@media screen and (max-width: 900px) {
    .main_text{
        text-align: center;
    }
    .main_text_block {
        flex-direction: column;
    }
    .main_text_block img{
        width: 50%;
        margin-left: 0;
        margin: 0 auto;
    }
}
@media screen and (min-width: 900px) {
    .main_text{
        text-align: left;
    }
    .main_text_block img {
        width: 30vw;
        margin-left: 2vw;
    }
}

@media screen and (max-width: 550px) {
    .nav_1 {
        position: absolute;
        top: -9999px;
        left: -9999px;
        display: none;
        visibility: hidden;
    }
    .head {
        position: relative;
        visibility: unset;
    }
}
@media screen and (min-width: 550px) {
    .nav_1 {
        position: relative;
        visibility: unset;
    }
    .head {
        position: absolute;
        top: -9999px;
        left: -9999px;
        display: none;
        visibility: hidden;
    }
}
