@media (max-width: 940px) {
    .nav_win {
        position: absolute;
        opacity: 0;
        top: -99999px;
    }

    .nav_ad {
        position: relative;
        opacity: 1;
    }

    .head {
        min-height: 50px;
    }
}

@media (min-width: 940px) {
    .nav_win {
        position: relative;
        margin: 0 auto;
        opacity: 1;
        top: 1vh;
    }

    .nav_ad {
        position: absolute;
        opacity: 0;
        top: -99999px;
    }

    .head {
        min-height: 50px;
    }
}

