@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.head {
    top: 0;
    display: flex;
    position: fixed;
    width: 100%;
    background-color: bisque;
    height: 65px;
    max-height: 70px;
    overflow: hidden;
    width: 100%;
    font-size: calc(20px + 8 * (100vw / 1280));
}

.head a {
    color: rgb(48, 48, 48);
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    font-weight: 700;
    padding-left: 1vh;
    padding-top: 1vh;
    text-decoration: none;
    transition-duration: 0.6s;
    transition-delay: 0.1s;
}

.nav_win {
    height: 50px;
    float: right;
    font-size: calc(20px + 6 * (100vw / 1280));
    margin: 0 auto;
    display: flex;
    transition-duration: 0.6s;
    transition-delay: 0.1s;
}

.nav_win a {
    border-radius: 8px;
    transition: 0.5s; 
    padding: 0 2vw 0 2vw;
}

.nav_win a:hover {
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgb(233, 209, 180);
}

.head_img {
    margin-top: 55px;
    background: url(img/head.jpg) local;
	height: 30vw;   
    object-fit: cover;
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.head_img p {
    font-size: 5vh;
}

.left_nav {
    background-color: black;
    width: 20vw;
    height: 900px;
}

.main {
    margin: 0 auto;
    width: calc(100% - 15vw);
}

