@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.head {
    width: 100%;
    padding-top: 1vh;
    background-color: bisque;
    height: 10vh;
    min-height: 40px;
    max-height: 70px;
    overflow: hidden;
    width: 100%;
    font-size: 3vh;
}

.head a {
    color: black;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    font-weight: 700;
    padding-left: 2vh;
    padding-top: 2vh;
    text-decoration: none;
}

.head_img {
    font-weight: 700;
    background: url(img/head.jpg) local;
	height: 30vw;   
    object-fit: cover;
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.head_img p {
    font-size: 5vh;
}

@media (min-width: 400px) and (max-width: 300px) {
    .head_img p {
        font-size: 3vh;
    }
}