* {box-sizing: border-box;}
@font-face {
	font-family: 'FontName';
    src: url(../font/JejuHallasan-Regular.ttf); 
}
body {
    font-size: calc(0.8rem + 6 * (100vw - 320px) / 880);
    margin: 0;
    background: #292929;
    font-family: 'FontName'; 
}
.header {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: white;
    text-align: center;
}
header a {
    text-shadow: 5px 4px 4px rgba(250, 255, 18, 0.25);
    display: block;
    text-decoration: none;
    outline: none;  
    transition: .3s ease-in-out;
}
.active {
    color: brown;
}
.passiv {
    color: #000000;
}
.nav_1 {
    display: table;
    margin: 0 auto;
}
.nav_1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topmenu:after {
    content: "";
    display: table;
    clear: both;
}
.topmenu > li {
    float: left;
    position: relative;
}
.topmenu > li > a {
    text-transform: uppercase;
    font-size: calc(0.8rem + 6 * (100vw - 320px) / 880);
    font-weight: bold;
    padding: 15px 30px;
}
.topmenu li a:hover {color: #ad9654;}
.submenu-link:after {
    content: "\f107";
    color: inherit;
    margin-left: 10px;
}
.submenu {
    background: #273037;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin :0 0;
    transition: .5s ease-in-out;
}
.submenu a {
    color: white;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a {border-bottom: none;}
.topmenu > li:hover .submenu {
    opacity: 0.9;
    transform: scaleY(1);
}

.img_main {
    width: 100%;
    opacity: 0.9;
    border-bottom: 5px solid #000000;
    margin-top: 55px;
}

.main {
    padding: 0 1.2vw 0 1.2vw;
}

.main_h {
    padding: 0 1vw 0 1vw;
    text-align: center;
    color: white;
    border-bottom: 5px solid #000000;
    font-size: calc(0.5rem + 6 * (100vw - 320px) / 880);
}

.main_text {
    color: rgb(219, 219, 219);
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.main_text p {
    font-size: calc(0.8rem + 6 * (100vw - 320px) / 880);
}

.main_h {
    font-size: calc(0.8rem + 6 * (100vw - 320px) / 880);
}

.main_text_block {
    padding: 0 5vw 2vh 5vw;
    border-bottom: 5px solid #000000;
    margin-top: 2vh;
    display: flex;
}

.main_text_block img {
    border: 3px solid #989292;
    filter: drop-shadow(6px 4px 4px rgba(177, 74, 74, 0.25));
    border-radius: 39px;
}

footer {
    padding: 0 2vw 0 2vw;
    font-size: calc(0.8rem + 3 * (100vw - 320px) / 880);
    color: rgb(219, 219, 219);
    border-top: 5px solid #000000;
}

.p_fotter_left {
    float: left;
}

.p_fotter_rigth {
    float: right;
    text-align: center;
}

footer img {
    margin-left: 1vw;
    float: right;
    border: 4px solid #000000;
    border-radius: 100px;
    width: 60px;
}

.head {
    padding-right: 1vw;
    width: 100%;
    color: rgb(219, 219, 219);
    float: right;
}

.head ul {
    float: right;
}

.nav_2 {
    top: 0;
    position: absolute;
    background-color: #4d4d4d;
    float: right;
    margin-right: -200px;
    width: 100%;
    height: 102vh;
    flex-direction: row;
    visibility: hidden;
    display: table;
}
.nav_2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}